<ion-header [translucent]="true">
  <ion-toolbar class="barra">
    
    <ion-grid>
      <div class="center-container">
        <ion-col size="auto">
          <img src="assets/logo-duoc.png" class="logo" />
          
        </ion-col>
      </div>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background">

    <!-- Iteramos sobre la lista de ramos obtenida en la función -->
    <ion-item *ngFor="let ramos of lista_ramos">
      <ion-card class="custom-card">
        <ion-card-header>
          <ion-card-title>{{ ramos.cursoNombre }}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <p><strong>Sigla: </strong> {{ ramos.cursoSigla }}</p>
          <p><strong>Presente:</strong> {{ ramos.presente }}</p>
          <p><strong>Ausente:</strong> {{ ramos.ausente }}</p>
          <p><strong>Porcentaje de Asistencia:</strong> {{ramos.porcentaje}}%</p>
          <p><strong>Estado:</strong> {{ ramos.estado_asistencia }}</p>
        </ion-card-content>
      </ion-card>
    </ion-item>


  <ion-footer class="fixed-footer">
    <ion-toolbar>
      <div class="footer-icons">
        <ion-tab-button (click)="inicio()">
          <ion-icon name="home-outline"></ion-icon>
        </ion-tab-button>
        <ion-tab-button (click)="sedes()">
          <ion-icon name="map-outline"></ion-icon>
        </ion-tab-button>
        
        <ion-tab-button>
          <ion-icon name="bar-chart-outline"></ion-icon>
        </ion-tab-button>
        <ion-tab-button (click)="cerrarSesion()">
          <ion-icon name="log-out-outline"></ion-icon>
        </ion-tab-button>
      </div>
    </ion-toolbar>
  </ion-footer>
</ion-content>
